src/main/mule/sample_app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aeb3d417-525b-404f-980c-542df1890079" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample_appFlow" doc:id="bfe366a0-17cd-4c16-94dd-0a9c1e882dbf" >
		<http:listener doc:name="Listener" doc:id="f3563b78-37ad-47cd-9b2d-decd8bbf9602" config-ref="HTTP_Listener_config" path="/api"/>
		<ee:transform doc:name="Transform Message" doc:id="35d3b495-6802-4063-8345-0584829e1fb7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Welcome on-board to gitLab"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="af40d99e-a77a-40d7-bc32-cb18f4e56d3b" message='#[payload ++ "Hi"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="d9221063-688d-4e1e-a487-6ef6f6f6ddbb" message='#["Completed"]'/>
	</flow>
</mule>
